.home-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
    padding: 1vw; /* Use viewport width for padding */
    max-width: 1200px;
    margin-top: 10vh; /* Use viewport height for margin-top */
    height: 100%;
}

.text-container {
    padding-right: 5vw; /* Use viewport width for padding-right */
    margin-left: 4vw; /* Use viewport width for margin-left */
    margin-top: 5vh; /* Use viewport height for margin-top */
}

h1 {
    font-size: 6.5vw; /* Use viewport width for font-size */
    font-family: HeroMessageFont, sans-serif; /* Added generic font family */
    margin-bottom: 1vh; /* Use viewport height for margin-bottom */
    line-height: 1.2;
    margin-top: 1vh; /* Use viewport height for margin-top */
}

.body-text {
    font-size: 1.5vw; /* Use viewport width for font-size */
    font-family: BodyFont, sans-serif; /* Added generic font family */
    max-width: 800px;
}

.potential {
    font-family: PotentialFont, sans-serif; /* Added generic font family */
    background: linear-gradient(to right, #8aeba5, #19aa6b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.business-image {
    margin-right: -50vw; /* Use viewport width for margin-right */
    width: 30vw; /* Use viewport width for width */
    height: auto;
}

@font-face {
    font-family: 'HeroMessageFont';
    src: url(../assets/Fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'PotentialFont';
    src: url(../assets/Fonts/PantonNarrow-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: 'BodyFont';
    src: url(../assets/Fonts/Garet-Book.ttf) format('truetype');
}