/* Container for the image and form split */
.login-container {
  display: flex;
  height: 100vh;
}

/* Left side for the image */
.login-image {
  width: 50vw; /* Ensures it takes up exactly half of the viewport width */
  background-image: url('../assets/Images/login-photo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}

/* Right side for the login form */
.login-form {
  width: 50vw; /* Ensures the form takes the other half */
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  justify-content: center;
  align-items: center;
  padding: 20px;
}


button {
  width: 65%; /* Ensure buttons take full width */
  max-width: 100%;
  align-self: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  padding: 12px;
  margin-top: 10px; /* Add some space above the button */
}

.employeeLogin-button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "PantonNarrow-Bold", sans-serif;
  background-color: #19aa6b;
  cursor: pointer;
  margin-top: 30px;
  color: #ffffff; /* Set the text color to white */
  margin-top: 50px; /* Add some space above the button */
  width: 30vw; /* Ensure buttons take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  height: 6.5vh;
}

.error {
  color: red;
}

.success {
  color: green;
}

@font-face {
  font-family: "PantonNarrow-Bold";
  src: '../assets/Fonts/PantonNarrow-Bold.ttf';
}

@font-face {
  font-family: "PantonNarrow-Regular";
  src: '../assets/Fonts/PantonNarrow-Regular.ttf';
}