h1{
    font-size: 4em;
    margin-bottom: 30px;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 50px;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.form-group-payment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group-payment label {
    width: 45%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #4A4A4A;
}

.form-group-payment input {
    width: 50%;
    padding: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.pay-now-button, .cancel-button, .back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 0 10px; /* Add margin to space the buttons */
}

.pay-now-button {
    background-color: #008CBA;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

.back-button {
    background-color: #4A4A4A;
    color: white;
}

button:hover {
    opacity: 0.8;
}