/* src/components/SwiftCodeTextBox.css */
.error-textbox {
  padding: 12px;
  font-size: 14px;
  width: 100%; /* Ensure input fields take full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  color: #19aa6b;
  border-radius: 20px;
  border: 1px solid #2d2d2d;
  background-color: #2d2d2dcc;
  font-family: "PantonNarrow-Regular", sans-serif;
}

.error-textbox.error {
  border-color: red; /* Border color for error state */
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}

.loading-message {
  font-size: 14px;
  margin-top: 5px;
}
